* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    /* background-image: url('ClassIn_20230709114455.jpg'); */
    box-sizing: border-box;
}

.header {
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border: 2px solid rgb(244, 211, 211);
    border-radius: 20px;
}

.thebox {
    background-color: whitesmoke;
    padding: 25px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border: 2px solid rgb(244, 211, 211);
    border-radius: 20px;
}

.thelimit{
    width: 110px;
    margin-left: 10px;
    margin-right: 10px;
}


.theselector {
    width: 205px;
    margin-left: 10px;
    margin-right: 10px;
}

.theflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thefill{
    width: 800px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
}
.thesummit {
    width: 71px;
    margin: auto;
    margin-top: 20px;
}

.thesummit button {
    background-color: white;
    border: 0.5px solid lightgray;
}