* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
}

.generator-outer {
    padding: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.generator-outer {
    height: 700px;
}

.about-outer {
    padding: 2rem 0;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
}

.about-outer h1 {
    padding: 3rem 0;
}

.about-instruction {
    padding: 3rem 0;
}

.about-instruction h5 {
    color: #ccc;
}

.about-allstep {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 3rem;

}

.about-eachstep {
    width: 800px;
    margin-left: 32%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-eachstep p {
    margin-bottom: 0;
    font-size: 20px;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: #333;
}

.header {
    background-color: #e6e3d1;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    border: 2px solid rgb(244, 211, 211);
    border-radius: 20px;
    opacity: 88%;
}

.truehead {
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: #333;
    z-index: 100;
    text-align: center;
    top: 0;
    margin: 10px;
    border-radius: 26px;
}

.truehead p{
    margin-top: 12px;
    color: white;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.thebox {
    background-color: #e6e3d1;
    padding: 25px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border: 2px solid rgb(244, 211, 211);
    border-radius: 20px;
    opacity: 88%;

}

.thelimit {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: white;

}

.thelimit select {
    min-width: 70px;
    width: auto;
    height: 37px;
    border: white solid 1px;
    border-radius: 8px;
    outline: none;
}


.theselector {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: white;
}

.theselector select {
    min-width: 70px;
    width: auto;
    height: 37px;
    border: white solid 1px;
    border-radius: 8px;
    outline: none;
}

.theflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thefill {
    min-height: 300px;
    width: 85%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.thefill p,
.thefill li {
    word-wrap: break-word;
    font-size: 20px;
}

.thesummit {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-top: 20px;
}

.thesummit button {
    width: 300px;
    background-color: white;
    border: 0.5px solid lightgray;
    font-weight: bold;
}

.hide {
    display: none !important;
}

.thesummit button:hover {
    font-weight: bold;
    color: white;
    background-color: #6ec4db;
}

input {
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;

}

.usingBtn {
    background-color: #4caf50;
    color: #fff;

    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

.about-eachstep span {
    font-weight: bold;
}

.theinfo {
    background-color: rgb(227, 227, 227);
    opacity: 90%;
    width: 99%;
    min-height: 99%;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

.main-footer {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    text-align: center;
}

.btn-tite {
    font-style: italic;
    color: #333;
}